// --- Style Reset ------------ //
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif, roboto, arial;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  --font-family: "Rubik";

  --static-clr-900: hsl(0, 0%, 0%);
  --static-clr-800: hsl(0, 0%, 10%);
  --static-clr-700: hsl(0, 0%, 20%);

  --static-clr-300: hsl(0, 0%, 80%);
  --static-clr-200: hsl(0, 0%, 90%);
  --static-clr-100: hsl(0, 0%, 100%);

  --ff-clr-900: hsl(0, 0%, 0%);
  --ff-clr-800: hsl(0, 0%, 10%);
  --ff-clr-700: hsl(0, 0%, 20%);
  --ff-clr-600: hsl(0, 0%, 30%);

  --ff-clr-300: hsl(0, 0%, 80%);
  --ff-clr-200: hsl(0, 0%, 90%);
  --ff-clr-100: hsl(0, 0%, 100%);

  --bg-shaded-300: hsl(0, 0%, 95%);
  --bg-white: hsl(0, 0%, 100%);

  --primary-clr-light: hsl(210, 90%, 50%);
  --primary-clr: hsl(210, 90%, 30%);
  --primary-clr-dark: hsl(210, 90%, 23%);

  --error: hsl(0, 70%, 50%);
}

html[data-theme="dark"] {
  --font-family: "Rubik";

  --ff-clr-100: hsl(0, 0%, 0%);
  --ff-clr-200: hsl(0, 0%, 10%);
  --ff-clr-300: hsl(0, 0%, 20%);

  --ff-clr-600: hsl(0, 0%, 70%);
  --ff-clr-700: hsl(0, 0%, 80%);
  --ff-clr-800: hsl(0, 0%, 90%);
  --ff-clr-900: hsl(0, 0%, 100%);

  --bg-shaded-300: hsl(0, 0%, 10%);
  --bg-white: hsl(0, 0%, 5%);

  --primary-clr: hsl(210, 90%, 50%);
  --primary-clr-dark: hsl(210, 90%, 43%);

  .about-skills-li:last-child img {
    filter: invert(1);
  }
}

* {
  transition-property: background, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

// ---- Body ----- //
body {
  background: var(--bg-white);
  overflow-x: hidden;
}

// --- General Applied Styling ------------ //
h1 {
  font-size: 48px;
  line-height: 56px;
  font-weight: 700;
  color: var(--ff-clr-700);
  position: relative;
}
h2 {
  font-size: 48px;
  line-height: 52px;
  font-weight: 700;
  color: var(--ff-clr-800);
}
h3 {
  font-size: 24px;
  line-height: 42px;
  font-weight: 500;
  color: var(--ff-clr-700);
}
h4 {
  font-size: 20px;
  line-height: 32px;
  font-weight: 500;
  color: var(--ff-clr-700);
}
p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--ff-clr-700);
}

// media query for 600px
@media screen and (max-width: 600px) {
  h1 {
    font-size: 32px;
    line-height: 48px;
  }
  h2 {
    font-size: 28px;
    line-height: 40px;
  }
  h3 {
    font-size: 16px;
    line-height: 32px;
  }
  h4 {
    font-size: 14px;
    line-height: 24px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
}

// --- General Applied (Layout) Styling ------------ //

.container {
  margin-inline: auto;
  width: Min(85%, 80em);
  scroll-margin-top: 50px;
}

// --- Header Styling ------------ //
header {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/static/images/background.webp");
  background-size: cover;
  padding: 5rem 0;
  max-height: 100vh;
  max-width: 100vw;
}

// --- A link tag styling ---- //
a {
  color: var(--primary-clr);
  text-decoration: none;
  &:hover {
    color: var(--primary-clr-dark);
    text-decoration: underline;
    text-underline-offset: 0.1em;
  }
}

// Theme togggle
.theme-toggle {
  position: absolute;
  top: 9vh;
  right: 0;
  width: 32px;
  height: 32px;
  i {
    color: var(--static-clr-200);
    font-size: 24px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    &:hover {
      color: var(--static-clr-100);
    }
  }
}

// --- Hero Styling ------------ //
.hero {
  position: relative;
  height: 100%;
  display: grid;
  place-content: center start;
  grid-auto-rows: max-content;
  gap: 2em;
  // --- Hero Title ------------ //
  .hero-title-h1 {
    font-size: 76px;
    line-height: 108px;
    color: var(--static-clr-100);
    max-width: 80%;
  }
  .hero-title-h2 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    color: var(--static-clr-200);
    margin-top: 1rem;
    max-width: 80%;
  }
  @media screen and (max-width: 600px) {
    .hero-title-h1 {
      font-size: 42px;
      line-height: 42px;
      text-align: center;
      max-width: 100%;
    }
    .hero-title-h2 {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      max-width: 100%;
    }
  }
}
// --- Hero Navigation ------------ //
.hero-nav-wrapper {
  position: absolute;
  right: 0;
  top: 40%;
  width: fit-content;
  .hero-nav-list {
    width: fit-content;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    text-align: right;
    .hero-nav-li {
      padding: 0.4em 1em;
      border-right: 3px solid var(--static-clr-200);
      transition: border 0.05s linear;
      a {
        color: var(--static-clr-200);
        text-decoration: none;
      }
      &:hover {
        a {
          color: var(--static-clr-100);
          font-weight: 500;
        }
        border-right: 5px solid var(--static-clr-200);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-nav-wrapper {
    display: none;
    visibility: hidden;
  }
}

// --- Mobile Nav ------- //
.mobile-nav-wrapper {
  background: var(--static-clr-800);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  grid-template: 1fr;
  place-content: center;
  opacity: 0.99;

  .mobile-nav-container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2.3em;
    text-align: center;
  }
  li a {
    color: var(--static-clr-200);
    padding: 1em 2em;
    font-weight: 600;
  }
}

#mobile-nav-control {
  position: fixed;
  right: 3%;
  top: 5%;
  color: var(--static-clr-200);
  padding: 1em;
  z-index: 12;
}

@media screen and (min-width: 600px) {
  #mobile-nav-control {
    display: none;
  }
  .mobile-nav-wrapper {
    visibility: hidden;
  }
}

// --- Hero CTA ------------ //
.hero-cta-wrapper {
  //position: absolute;
  //bottom: 4vh;
  //left: 0;
  position: relative;
  place-self: end start;
  cursor: pointer;
  transition: transform 0.05s linear;
  a {
    color: var(--static-clr-200);
    text-decoration: none;
    font-size: 1.2rem;
    .material-icons {
      font-size: 1.7em;
    }
  }
  &:hover {
    a,
    .material-icons {
      color: var(--static-clr-100);
      font-weight: 400;
    }
    a {
      text-decoration: underline;
      text-underline-offset: 0.3em;
    }
  }
}

@media screen and (max-width: 600px) {
  .hero-cta-wrapper {
    left: 50%;
    transform: translateX(-50%);
  }
}

// --- Main Styling -------------- //
main {
  padding: 6rem 0;
  background: var(--bg-shaded-300);
}

// --- Projects Styling ------------ //
.projects .projects-list {
  list-style: none;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  .project-li {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 6%;
    min-height: 25vh;
    padding: 4rem 0;
    border-bottom: 1px solid var(--ff-clr-300);
    border-top: 1px solid var(--ff-clr-300);
    .project-li-img {
      max-width: 100%;
      box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.08);
      max-height: 400px;
      object-fit: cover;
      width: 1000%;
      align-self: center;
    }
    .project-li-content-wrapper {
      display: grid;
      place-content: space-around start;
      background: var(--bg-shaded-300);
      h2 {
        text-transform: uppercase;
      }
      h4 {
        font-size: 18px;
      }
      .project-li-links {
        display: flex;
        flex-direction: row;
        gap: 1.2em;
        background: var(--bg-shaded-300);
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        a {
          text-decoration: none;
          font-weight: 500;
          color: var(--ff-clr-800);
          position: relative;
          margin-right: 2.4em;
          &:hover {
            text-decoration: underline;
            text-underline-offset: 0.2em;
          }
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .projects .projects-list .project-li {
    .project-li-img {
      grid-row: 1;
    }
  }
}

// --- Extra Projects Styling ------------ //
.extra-projects-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding-bottom: 4rem;
  border-bottom: 1px solid var(--ff-clr-300);
  .extra-project-li {
    position: relative;
    //height: 400px;
    aspect-ratio: 1/1;
    cursor: pointer;
    .li-titles {
      z-index: 3;
      position: absolute;
      bottom: 2.5rem;
      left: 2.5rem;
      p,
      h4 {
        color: var(--static-clr-200);
      }
    }
    .extra-project-li-img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 1;
      filter: brightness(0.5);
    }
    &:hover {
      .extra-project-li-img {
        filter: brightness(0.9);
      }
    }
  }
}

.about {
  padding: 4rem 0 0rem 0;
  .about-featured-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 2rem;
    margin: 2em auto;
    margin-bottom: 3em;
  }
  .about-featured-li {
    width: 100%;
    min-height: 400px;
    position: relative;

    .content {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 0;
      padding: 2.2em;
    }

    p {
      color: var(--static-clr-200);
    }
    h2 {
      font-size: 24px;
      line-height: 42px;
      font-weight: 500;
      color: var(--static-clr-100);
    }
    h2 + p {
      margin-bottom: 0.6em;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
      filter: brightness(0.4);
    }
    &:hover img {
      filter: brightness(0.25);
    }
  }

  .about-skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(64px, max-content));
    gap: 2rem;
    .about-skills-li {
      display: flex;
      flex-direction: column;
      text-align: center;
      .about-skills-li-p {
        margin-top: 0.6em;

        align-self: center;
      }
      img {
        width: minmax(64px, 10vw);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .about-skills-list {
    justify-content: center;
  }
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: center;
  gap: 8em;
  padding: 4em 0;

  .footer-content-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    .footer-end-content {
      position: absolute;
      bottom: 0;
    }
  }

  .footer-contact-wrapper {
    form {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.2em;
      .input-group label {
        padding: 0 0 0.4em 0em;
        display: block;
        color: var(--ff-clr-700);
      }
      .footer-input {
        width: 100%;
        border: 1px solid var(--ff-clr-300);
        background: var(--bg-shaded-300);
        padding: 0.7em;
        color: var(--ff-clr-700);
        &:focus {
          outline: none;
          border: 1px solid var(--ff-clr-800);
        }
        &:focus:invalid {
          border: 1px solid var(--error);
        }
      }
      .footer-submit {
        padding: 0.7em;
        background: var(--primary-clr);
        border: none;
        outline: none;
        color: var(--static-clr-200);
        font-weight: 500;
        font-size: 1em;
        &:hover,
        &:focus {
          background: var(--primary-clr-dark);
        }
      }
    }
  }
}

input[type="submit"] {
  cursor: pointer;
}

/* --- Material Icons ---- */
.material-icons {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -1.5em;
  transform: translate(0em, -50%);
  font-size: 1.3em;
}

/* ---- Toggle Slider ------ */

.switch {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--ff-clr-300);
    transition: 0.4s;
    border-radius: 34px;
    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      //background: var(--ff-clr-100);
      transition: 0.4s;
      border-radius: 50%;
    }
    .icon {
      position: absolute;
      top: 4px;
      left: 4px;
      height: 26px;
      width: 26px;
      display: grid;
      place-content: center;
      transition: 0.4s;
      i {
        display: block;
        position: relative;
        left: 0;
        font-size: 24px;
        color: var(--ff-clr-700);
      }
    }
  }

  input:checked + .slider {
    background: var(--ff-clr-300);
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  input:checked + .slider .icon {
    transform: translate(26px, 0);
  }
}

.hidden {
  display: none;
  visibility: hidden;
}

/* --- Animations --- */
#arrow {
  animation: arrow-animation 1s infinite;
}

@keyframes arrow-animation {
  0% {
    transform: translateY(-65%);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(-65%);
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--ff-clr-200);
}

::-webkit-scrollbar-thumb {
  background: var(--ff-clr-600);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ff-clr-700);
}

// =========== Popup Cards ========== //

.card-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); //var(--bg-shaded-300);
  z-index: 10;

  .card-close {
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
  }
  .card-container {
    width: 80%;
    height: 70%;
    background: var(--bg-shaded-300);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 5fr minmax(100px, 5fr) 96px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
    border-radius: 4px;

    .card-content {
      //padding: 4rem;
      padding: 8%;
      .description {
        margin-bottom: 5%;
        font-weight: 600;
        font-size: 28px;
      }
      .title {
        padding-bottom: 0.2em;
        font-size: 48px;
        font-weight: 800;
        color: var(--primary-clr-light);
      }
      .sub-title {
        font-weight: 500;
      }

      .navigation-slider {
        position: absolute;
        bottom: 8%;
        a {
          position: relative;
          width: 24px;
          cursor: pointer;
        }
        a > i {
          position: absolute;
          top: 0;
          left: 0;
          display: inline-block;
          width: 24px;
          height: 24px;
          font-size: 24px;
        }
        .dots {
          display: flex;
          flex-direction: row;
          gap: 0.5em;
          list-style: none;
          .dot {
            content: "";
            width: 12px;
            height: 12px;
            background: var(--ff-clr-300);
            border-radius: 50%;
          }
        }
      }
    }
    img {
      max-width: 100%;
      height: 100%;
      max-height: 70vh;
      object-fit: cover;
    }
    .card-nav {
      line-height: 1.8em;
      place-self: end center;
      margin-bottom: 2em;
      display: flex;
      flex-direction: column;
      list-style: none;
      color: var(--ff-clr-700);
    }
  }
}

@media screen and (max-width: 600px) {
  .card-wrapper .card-container {
    display: grid;
    grid-template-columns: 1fr;
    img {
      visibility: hidden;
      display: none;
    }
    .card-content {
      padding: 1.5rem;
      .description {
        margin-bottom: 1rem;
      }
    }
    .card-nav {
      display: none;
      visibility: hidden;
    }
  }
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.button {
  padding: 0.7em 1.7em;
  text-decoration: none;

  &.primary {
    background: var(--primary-clr-light);
    color: var(--static-clr-200);
    &:hover {
      background: var(--primary-clr);
      text-decoration: none;
    }
  }
}

.blue {
  color: var(--primary-clr-light);
  font-weight: 500;
}
.bg-blue {
  background: var(--primary-clr-light) !important;
}
